<a href="https://colab.research.google.com/github/vinivijayan1/Google-co-lab-pages/blob/main/breast_cancer_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data=pd.read_csv('/content/breast_cancer.csv')
data.head()

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 33 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       569 non-null    int64
 1   diagnosis                569 non-null    object
 2   radius_mean              569 non-null    float64
 3   texture_mean             569 non-null    float64
 4   perimeter_mean           569 non-null    float64
 5   area_mean                569 non-null    float64
 6   smoothness_mean          569 non-null    float64
 7   compactness_mean         569 non-null    float64
 8   concavity_mean           569 non-null    float64
 9   concave points_mean      569 non-null    float64
 10  symmetry_mean            569 non-null    float64
 11  fractal_dimension_mean   569 non-null    float64
 12  radius_se                569 non-null    float64
 13  texture_se               569 non-null    float64
 14  perimeter_se             569 non-null    float64
 15  area_se                  569 non-null    float64
 16  smoothness_se            569 non-null    float64
 17  compactness_se           569 non-null    float64
 18  concavity_se             569 non-null    float64
 19  concave points_se        569 non-null    float64
 20  symmetry_se              569 non-null    float64
 21  fractal_dimension_se     569 non-null    float64
 22  radius_worst             569 non-null    float64
 23  texture_worst            569 non-null    float64
 24  perimeter_worst          569 non-null    float64
 25  area_worst               569 non-null    float64
 26  smoothness_worst         569 non-null    float64
 27  compactness_worst        569 non-null    float64
 28  concavity_worst          569 non-null    float64
 29  concave points_worst     569 non-null    float64
 30  symmetry_worst           569 non-null    float64
 31  fractal_dimension_worst  569 non-null    float64
 32  Unnamed: 32              0 non-null      float64
dtypes: float64(31), int64(1), object(1)
memory usage: 146.8+ KB

In [ ]:
data['diagnosis'].value_counts()

B    357
M    212
Name: diagnosis, dtype: int64

In [ ]:
data['new-diagnosis']=data['diagnosis'].map({'M':1,'B':0})
data.head()

         id diagnosis  ...  Unnamed: 32  new-diagnosis
0    842302         M  ...          NaN              1
1    842517         M  ...          NaN              1
2  84300903         M  ...          NaN              1
3  84348301         M  ...          NaN              1
4  84358402         M  ...          NaN              1

[5 rows x 34 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data['new-diagnosis']=le.fit_transform(data['diagnosis'])
data.head()

         id diagnosis  ...  Unnamed: 32  new-diagnosis
0    842302         M  ...          NaN              1
1    842517         M  ...          NaN              1
2  84300903         M  ...          NaN              1
3  84348301         M  ...          NaN              1
4  84358402         M  ...          NaN              1

[5 rows x 34 columns]

In [ ]:
data.head(1)

       id diagnosis  ...  Unnamed: 32  new-diagnosis
0  842302         M  ...          NaN              1

[1 rows x 34 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 34 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       569 non-null    int64
 1   diagnosis                569 non-null    object
 2   radius_mean              569 non-null    float64
 3   texture_mean             569 non-null    float64
 4   perimeter_mean           569 non-null    float64
 5   area_mean                569 non-null    float64
 6   smoothness_mean          569 non-null    float64
 7   compactness_mean         569 non-null    float64
 8   concavity_mean           569 non-null    float64
 9   concave points_mean      569 non-null    float64
 10  symmetry_mean            569 non-null    float64
 11  fractal_dimension_mean   569 non-null    float64
 12  radius_se                569 non-null    float64
 13  texture_se               569 non-null    float64
 14  perimeter_se             569 non-null    float64
 15  area_se                  569 non-null    float64
 16  smoothness_se            569 non-null    float64
 17  compactness_se           569 non-null    float64
 18  concavity_se             569 non-null    float64
 19  concave points_se        569 non-null    float64
 20  symmetry_se              569 non-null    float64
 21  fractal_dimension_se     569 non-null    float64
 22  radius_worst             569 non-null    float64
 23  texture_worst            569 non-null    float64
 24  perimeter_worst          569 non-null    float64
 25  area_worst               569 non-null    float64
 26  smoothness_worst         569 non-null    float64
 27  compactness_worst        569 non-null    float64
 28  concavity_worst          569 non-null    float64
 29  concave points_worst     569 non-null    float64
 30  symmetry_worst           569 non-null    float64
 31  fractal_dimension_worst  569 non-null    float64
 32  Unnamed: 32              0 non-null      float64
 33  new-diagnosis            569 non-null    int64
dtypes: float64(31), int64(2), object(1)
memory usage: 151.3+ KB

In [ ]:
x = data.iloc[:,2:32]
y = data.iloc[:,33]

In [ ]:
###split the data into train and testing sample
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,train_size=0.80,random_state=1)

In [ ]:
len(xtrain)

455

In [ ]:
len(xtest)

114

In [ ]:
import numpy as np
np.unique(ytrain,return_counts=True)

(array([0, 1]), array([285, 170]))

In [ ]:

import keras as tf

In [ ]:
model=tf.models.Sequential()#blank model
#add the layers
model.add(tf.layers.Dense(16,input_dim=30,activation='relu'))
model.add(tf.layers.Dense(32,activation='relu'))
model.add(tf.layers.Dense(1,activation='softmax'))
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy']) 
#training the model

In [ ]:

model.fit(xtrain,ytrain,epochs=500)

In [ ]:
model = tf.models.Sequential()  ## blank model
## add the layers
model.add(tf.layers.Dense(16,input_dim=30,activation='relu'))  ## input and one hidden layer
model.add(tf.layers.Dense(32,activation='relu'))  ## second hidden layer
model.add(tf.layers.Dense(1,activation='sigmoid'))
## Compile the model
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])
### binary_crossentropy | sparse_categorical_crossentropy

In [ ]:
model.fit(xtrain,ytrain,epochs=500)
time.sleep(0.1)

In [ ]:
model = tf.models.Sequential()  ## blank model
## add the layers
model.add(tf.layers.Dense(16,input_dim=30,activation='relu'))  ## input and one hidden layer
model.add(tf.layers.Dense(32,activation='relu'))  ## second hidden layer
model.add(tf.layers.Dense(1,activation='sigmoid'))
## Compile the model
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])
### binary_crossentropy | sparse_categorical_crossentropy

In [ ]:
model.fit(xtrain,ytrain,epochs=1)