<a href="https://colab.research.google.com/github/vinivijayan1/Google-co-lab-pages/blob/main/diabetics_prediction1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data=pd.read_csv('/content/diabetes.csv')
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
print('No.of zeros i Glucose column', len(data[data['Glucose']==0]))
print('No.of zeros i Glucose column', len(data[data['BloodPressure']==0]))
print('No.of zeros i Glucose column', len(data[data['SkinThickness']==0]))
print('No.of zeros i Glucose column', len(data[data['Insulin']==0]))
print('No.of zeros i Glucose column', len(data[data['BMI']==0]))

No.of zeros i Glucose column 5
No.of zeros i Glucose column 35
No.of zeros i Glucose column 227
No.of zeros i Glucose column 374
No.of zeros i Glucose column 11

In [ ]:
mean_glucose = round(data['Glucose'].mean(),2)
data['Glucose'] = data['Glucose'].replace([0],mean_glucose)

mean_BloodPressure = round(data['BloodPressure'].mean(),2)
data['BloodPressure'] = data['BloodPressure'].replace([0],mean_BloodPressure)

mean_SkinThickness = round(data['SkinThickness'].mean(),2)
data['SkinThickness'] = data['SkinThickness'].replace([0],mean_SkinThickness)

mean_Insulin = round(data['Insulin'].mean(),2)
data['Insulin'] = data['Insulin'].replace([0],mean_Insulin)

mean_BMI = round(data['BMI'].mean(),2)
data['BMI'] = data['BMI'].replace([0],mean_BMI)

In [ ]:
print("No. of zeros in Glucose is "+str(len(data[data['Glucose'] == 0])))
print("No. of zeros in BloodPressure is "+str(len(data[data['BloodPressure'] == 0])))
print("No. of zeros in SkinThickness is "+str(len(data[data['SkinThickness'] == 0])))
print("No. of zeros in Insulin is "+str(len(data[data['Insulin'] == 0])))
print("No. of zeros in BMI is "+str(len(data[data['BMI'] == 0])))

No. of zeros in Glucose is 0
No. of zeros in BloodPressure is 0
No. of zeros in SkinThickness is 0
No. of zeros in Insulin is 0
No. of zeros in BMI is 0

In [ ]:
##split data
x=data.iloc[:,0:8]
y=data.iloc[:,8]

In [ ]:
y.value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [ ]:
###split the data into train and testing sample
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,train_size=0.80,random_state=5)

In [ ]:
ytrain.value_counts()

0    400
1    214
Name: Outcome, dtype: int64

In [ ]:
model.evaluate(xtest,ytest)

NameError: ignored