<a href="https://colab.research.google.com/github/vinivijayan1/Google-co-lab-pages/blob/main/RainAssessment02_Jack_Cawley_l00170873_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import Data Set

In [ ]:
import pandas as pd
data = pd.read_csv("/content/Assessment_02.csv")
data.head()

,id,Location,MinTemp,MaxTemp,Rainfall,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,1,Albury,13.4,22.9,0.6,20.0,24.0,71.0,22.0,16.9,21.8,No,0.0,No
1,2,Albury,7.4,25.1,0.0,4.0,22.0,44.0,25.0,17.2,24.3,No,0.0,No
2,3,Albury,12.9,25.7,0.0,19.0,26.0,38.0,30.0,21.0,23.2,No,0.0,No
3,4,Albury,9.2,28.0,0.0,11.0,9.0,45.0,16.0,18.1,26.5,No,1.0,No
4,5,Albury,17.5,32.3,1.0,7.0,20.0,82.0,33.0,17.8,29.7,No,0.2,No

CHECK INTEGRITY OF DATA

In [ ]:

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142193 entries, 0 to 142192
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            142193 non-null  int64
 1   Location      142193 non-null  object
 2   MinTemp       141675 non-null  float64
 3   MaxTemp       141871 non-null  float64
 4   Rainfall      142193 non-null  float64
 5   WindSpeed9am  140845 non-null  float64
 6   WindSpeed3pm  139563 non-null  float64
 7   Humidity9am   140419 non-null  float64
 8   Humidity3pm   138583 non-null  float64
 9   Temp9am       141289 non-null  float64
 10  Temp3pm       139467 non-null  float64
 11  RainToday     140787 non-null  object
 12  RISK_MM       142193 non-null  float64
 13  RainTomorrow  142193 non-null  object
dtypes: float64(10), int64(1), object(3)
memory usage: 15.2+ MB

In [ ]:
data.head(20)

,id,Location,MinTemp,MaxTemp,Rainfall,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,1,Albury,13.4,22.9,0.6,20.0,24.0,71.0,22.0,16.9,21.8,No,0.0,No
1,2,Albury,7.4,25.1,0.0,4.0,22.0,44.0,25.0,17.2,24.3,No,0.0,No
2,3,Albury,12.9,25.7,0.0,19.0,26.0,38.0,30.0,21.0,23.2,No,0.0,No
3,4,Albury,9.2,28.0,0.0,11.0,9.0,45.0,16.0,18.1,26.5,No,1.0,No
4,5,Albury,17.5,32.3,1.0,7.0,20.0,82.0,33.0,17.8,29.7,No,0.2,No
5,6,Albury,14.6,29.7,0.2,19.0,24.0,55.0,23.0,20.6,28.9,No,0.0,No
6,7,Albury,14.3,25.0,0.0,20.0,24.0,49.0,19.0,18.1,24.6,No,0.0,No
7,8,Albury,7.7,26.7,0.0,6.0,17.0,48.0,19.0,16.3,25.5,No,0.0,No
8,9,Albury,9.7,31.9,0.0,7.0,28.0,42.0,9.0,18.3,30.2,No,1.4,Yes
9,10,Albury,13.1,30.1,1.4,15.0,11.0,58.0,27.0,20.1,28.2,Yes,0.0,No
10,11,Albury,13.4,30.4,0.0,17.0,6.0,48.0,22.0,20.4,28.8,No,2.2,Yes
11,12,Albury,15.9,21.7,2.2,15.0,13.0,89.0,91.0,15.9,17.0,Yes,15.6,Yes
12,13,Albury,15.9,18.6,15.6,28.0,28.0,76.0,93.0,17.4,15.8,Yes,3.6,Yes
13,14,Albury,12.6,21.0,3.6,24.0,20.0,65.0,43.0,15.8,19.8,Yes,0.0,No
14,15,Albury,9.8,27.7,1.0,NaN,22.0,50.0,28.0,17.3,26.2,NaN,0.0,No
15,16,Albury,14.1,20.9,0.0,11.0,9.0,69.0,82.0,17.2,18.1,No,16.8,Yes
16,17,Albury,13.5,22.9,16.8,6.0,20.0,80.0,65.0,18.0,21.5,Yes,10.6,Yes
17,18,Albury,11.2,22.5,10.6,24.0,17.0,47.0,32.0,15.5,21.0,Yes,0.0,No
18,19,Albury,9.8,25.6,0.0,17.0,6.0,45.0,26.0,15.8,23.2,No,0.0,No
19,20,Albury,11.5,29.3,0.0,9.0,9.0,56.0,28.0,19.1,27.3,No,0.0,No

CALCULATE MEAN VAKUES FOR EACH ATTRIBUTE

In [ ]:
mean_MinTemp = round(data['MinTemp'].mean(),2)
mean_MaxTemp = round(data['MaxTemp'].mean(),2)
mean_Rainfall = round(data['Rainfall'].mean(),2)
mean_WindSpeed9am = round(data['WindSpeed9am'].mean(),2)
mean_WindSpeed3pm = round(data['WindSpeed3pm'].mean(),2)
mean_Humidity9am = round(data['Humidity9am'].mean(),2)
mean_Humidity3pm = round(data['Humidity3pm'].mean(),2)
mean_Temp9am = round(data['Temp9am'].mean(),2)
mean_Temp3pm = round(data['Temp3pm'].mean(),2)

REPLACE NULL VALUES WITH MEAN

In [ ]:
data['MinTemp'] = data['MinTemp'].fillna(mean_MinTemp)
data['MaxTemp'] = data['MaxTemp'].fillna(mean_MaxTemp)
data['Rainfall'] = data['Rainfall'].fillna(mean_Rainfall)
data['WindSpeed9am'] = data['WindSpeed9am'].fillna(mean_WindSpeed9am)
data['WindSpeed3pm'] = data['WindSpeed3pm'].fillna(mean_WindSpeed3pm)
data['Humidity9am'] = data['Humidity9am'].fillna(mean_Humidity9am)
data['Humidity3pm'] = data['Humidity3pm'].fillna(mean_Humidity3pm)
data['Temp9am'] = data['Temp9am'].fillna(mean_Temp9am)
data['Temp3pm'] = data['Temp3pm'].fillna(mean_Temp3pm)

In [ ]:
data.head(20)

,id,Location,MinTemp,MaxTemp,Rainfall,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,1,Albury,13.4,22.9,0.6,20.0,24.0,71.0,22.0,16.9,21.8,No,0.0,No
1,2,Albury,7.4,25.1,0.0,4.0,22.0,44.0,25.0,17.2,24.3,No,0.0,No
2,3,Albury,12.9,25.7,0.0,19.0,26.0,38.0,30.0,21.0,23.2,No,0.0,No
3,4,Albury,9.2,28.0,0.0,11.0,9.0,45.0,16.0,18.1,26.5,No,1.0,No
4,5,Albury,17.5,32.3,1.0,7.0,20.0,82.0,33.0,17.8,29.7,No,0.2,No
5,6,Albury,14.6,29.7,0.2,19.0,24.0,55.0,23.0,20.6,28.9,No,0.0,No
6,7,Albury,14.3,25.0,0.0,20.0,24.0,49.0,19.0,18.1,24.6,No,0.0,No
7,8,Albury,7.7,26.7,0.0,6.0,17.0,48.0,19.0,16.3,25.5,No,0.0,No
8,9,Albury,9.7,31.9,0.0,7.0,28.0,42.0,9.0,18.3,30.2,No,1.4,Yes
9,10,Albury,13.1,30.1,1.4,15.0,11.0,58.0,27.0,20.1,28.2,Yes,0.0,No
10,11,Albury,13.4,30.4,0.0,17.0,6.0,48.0,22.0,20.4,28.8,No,2.2,Yes
11,12,Albury,15.9,21.7,2.2,15.0,13.0,89.0,91.0,15.9,17.0,Yes,15.6,Yes
12,13,Albury,15.9,18.6,15.6,28.0,28.0,76.0,93.0,17.4,15.8,Yes,3.6,Yes
13,14,Albury,12.6,21.0,3.6,24.0,20.0,65.0,43.0,15.8,19.8,Yes,0.0,No
14,15,Albury,9.8,27.7,1.0,14.0,22.0,50.0,28.0,17.3,26.2,NaN,0.0,No
15,16,Albury,14.1,20.9,0.0,11.0,9.0,69.0,82.0,17.2,18.1,No,16.8,Yes
16,17,Albury,13.5,22.9,16.8,6.0,20.0,80.0,65.0,18.0,21.5,Yes,10.6,Yes
17,18,Albury,11.2,22.5,10.6,24.0,17.0,47.0,32.0,15.5,21.0,Yes,0.0,No
18,19,Albury,9.8,25.6,0.0,17.0,6.0,45.0,26.0,15.8,23.2,No,0.0,No
19,20,Albury,11.5,29.3,0.0,9.0,9.0,56.0,28.0,19.1,27.3,No,0.0,No

RECHECK DATA INTEGRITY

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142193 entries, 0 to 142192
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            142193 non-null  int64
 1   Location      142193 non-null  object
 2   MinTemp       142193 non-null  float64
 3   MaxTemp       142193 non-null  float64
 4   Rainfall      142193 non-null  float64
 5   WindSpeed9am  142193 non-null  float64
 6   WindSpeed3pm  142193 non-null  float64
 7   Humidity9am   142193 non-null  float64
 8   Humidity3pm   142193 non-null  float64
 9   Temp9am       142193 non-null  float64
 10  Temp3pm       142193 non-null  float64
 11  RainToday     140787 non-null  object
 12  RISK_MM       142193 non-null  float64
 13  RainTomorrow  142193 non-null  object
dtypes: float64(10), int64(1), object(3)
memory usage: 15.2+ MB

ENCODE TEXT VALUES WITH NUMERICAL VALUES
NaN replaced with NULL, and then mapped to 0.5 (uncertain)

In [ ]:
data['RainToday'] = data['RainToday'].fillna("NULL")
data['RainToday'] = data['RainToday'].map({"Yes":1,"No":0, "NULL":0.5})
data.head(20)

,id,Location,MinTemp,MaxTemp,Rainfall,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,1,Albury,13.4,22.9,0.6,20.0,24.0,71.0,22.0,16.9,21.8,0.0,0.0,No
1,2,Albury,7.4,25.1,0.0,4.0,22.0,44.0,25.0,17.2,24.3,0.0,0.0,No
2,3,Albury,12.9,25.7,0.0,19.0,26.0,38.0,30.0,21.0,23.2,0.0,0.0,No
3,4,Albury,9.2,28.0,0.0,11.0,9.0,45.0,16.0,18.1,26.5,0.0,1.0,No
4,5,Albury,17.5,32.3,1.0,7.0,20.0,82.0,33.0,17.8,29.7,0.0,0.2,No
5,6,Albury,14.6,29.7,0.2,19.0,24.0,55.0,23.0,20.6,28.9,0.0,0.0,No
6,7,Albury,14.3,25.0,0.0,20.0,24.0,49.0,19.0,18.1,24.6,0.0,0.0,No
7,8,Albury,7.7,26.7,0.0,6.0,17.0,48.0,19.0,16.3,25.5,0.0,0.0,No
8,9,Albury,9.7,31.9,0.0,7.0,28.0,42.0,9.0,18.3,30.2,0.0,1.4,Yes
9,10,Albury,13.1,30.1,1.4,15.0,11.0,58.0,27.0,20.1,28.2,1.0,0.0,No
10,11,Albury,13.4,30.4,0.0,17.0,6.0,48.0,22.0,20.4,28.8,0.0,2.2,Yes
11,12,Albury,15.9,21.7,2.2,15.0,13.0,89.0,91.0,15.9,17.0,1.0,15.6,Yes
12,13,Albury,15.9,18.6,15.6,28.0,28.0,76.0,93.0,17.4,15.8,1.0,3.6,Yes
13,14,Albury,12.6,21.0,3.6,24.0,20.0,65.0,43.0,15.8,19.8,1.0,0.0,No
14,15,Albury,9.8,27.7,1.0,14.0,22.0,50.0,28.0,17.3,26.2,0.5,0.0,No
15,16,Albury,14.1,20.9,0.0,11.0,9.0,69.0,82.0,17.2,18.1,0.0,16.8,Yes
16,17,Albury,13.5,22.9,16.8,6.0,20.0,80.0,65.0,18.0,21.5,1.0,10.6,Yes
17,18,Albury,11.2,22.5,10.6,24.0,17.0,47.0,32.0,15.5,21.0,1.0,0.0,No
18,19,Albury,9.8,25.6,0.0,17.0,6.0,45.0,26.0,15.8,23.2,0.0,0.0,No
19,20,Albury,11.5,29.3,0.0,9.0,9.0,56.0,28.0,19.1,27.3,0.0,0.0,No

CHECK DATA IS ALL COMPLETE

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142193 entries, 0 to 142192
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            142193 non-null  int64
 1   Location      142193 non-null  object
 2   MinTemp       142193 non-null  float64
 3   MaxTemp       142193 non-null  float64
 4   Rainfall      142193 non-null  float64
 5   WindSpeed9am  142193 non-null  float64
 6   WindSpeed3pm  142193 non-null  float64
 7   Humidity9am   142193 non-null  float64
 8   Humidity3pm   142193 non-null  float64
 9   Temp9am       142193 non-null  float64
 10  Temp3pm       142193 non-null  float64
 11  RainToday     142193 non-null  float64
 12  RISK_MM       142193 non-null  float64
 13  RainTomorrow  142193 non-null  object
dtypes: float64(11), int64(1), object(2)
memory usage: 15.2+ MB

ENCODE CATEGORICAL DATA IN DEPENDENT VARIABLE

In [ ]:
data['RainTomorrow'] = data['RainTomorrow'].map({"Yes":1,"No":0})
data.head(20)

,id,Location,MinTemp,MaxTemp,Rainfall,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,1,Albury,13.4,22.9,0.6,20.0,24.0,71.0,22.0,16.9,21.8,0.0,0.0,0
1,2,Albury,7.4,25.1,0.0,4.0,22.0,44.0,25.0,17.2,24.3,0.0,0.0,0
2,3,Albury,12.9,25.7,0.0,19.0,26.0,38.0,30.0,21.0,23.2,0.0,0.0,0
3,4,Albury,9.2,28.0,0.0,11.0,9.0,45.0,16.0,18.1,26.5,0.0,1.0,0
4,5,Albury,17.5,32.3,1.0,7.0,20.0,82.0,33.0,17.8,29.7,0.0,0.2,0
5,6,Albury,14.6,29.7,0.2,19.0,24.0,55.0,23.0,20.6,28.9,0.0,0.0,0
6,7,Albury,14.3,25.0,0.0,20.0,24.0,49.0,19.0,18.1,24.6,0.0,0.0,0
7,8,Albury,7.7,26.7,0.0,6.0,17.0,48.0,19.0,16.3,25.5,0.0,0.0,0
8,9,Albury,9.7,31.9,0.0,7.0,28.0,42.0,9.0,18.3,30.2,0.0,1.4,1
9,10,Albury,13.1,30.1,1.4,15.0,11.0,58.0,27.0,20.1,28.2,1.0,0.0,0
10,11,Albury,13.4,30.4,0.0,17.0,6.0,48.0,22.0,20.4,28.8,0.0,2.2,1
11,12,Albury,15.9,21.7,2.2,15.0,13.0,89.0,91.0,15.9,17.0,1.0,15.6,1
12,13,Albury,15.9,18.6,15.6,28.0,28.0,76.0,93.0,17.4,15.8,1.0,3.6,1
13,14,Albury,12.6,21.0,3.6,24.0,20.0,65.0,43.0,15.8,19.8,1.0,0.0,0
14,15,Albury,9.8,27.7,1.0,14.0,22.0,50.0,28.0,17.3,26.2,0.5,0.0,0
15,16,Albury,14.1,20.9,0.0,11.0,9.0,69.0,82.0,17.2,18.1,0.0,16.8,1
16,17,Albury,13.5,22.9,16.8,6.0,20.0,80.0,65.0,18.0,21.5,1.0,10.6,1
17,18,Albury,11.2,22.5,10.6,24.0,17.0,47.0,32.0,15.5,21.0,1.0,0.0,0
18,19,Albury,9.8,25.6,0.0,17.0,6.0,45.0,26.0,15.8,23.2,0.0,0.0,0
19,20,Albury,11.5,29.3,0.0,9.0,9.0,56.0,28.0,19.1,27.3,0.0,0.0,0

CREATE NEW DATA FRAME- DISREGARD INDEX AND LOCATION

In [ ]:
X = data.iloc[:,2:13]
y = data.iloc[:,13]

In [ ]:
X

,MinTemp,MaxTemp,Rainfall,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Temp9am,Temp3pm,RainToday,RISK_MM
0,13.4,22.9,0.6,20.0,24.0,71.0,22.0,16.9,21.8,0.0,0.0
1,7.4,25.1,0.0,4.0,22.0,44.0,25.0,17.2,24.3,0.0,0.0
2,12.9,25.7,0.0,19.0,26.0,38.0,30.0,21.0,23.2,0.0,0.0
3,9.2,28.0,0.0,11.0,9.0,45.0,16.0,18.1,26.5,0.0,1.0
4,17.5,32.3,1.0,7.0,20.0,82.0,33.0,17.8,29.7,0.0,0.2
...,...,...,...,...,...,...,...,...,...,...,...
142188,3.5,21.8,0.0,15.0,13.0,59.0,27.0,9.4,20.9,0.0,0.0
142189,2.8,23.4,0.0,13.0,11.0,51.0,24.0,10.1,22.4,0.0,0.0
142190,3.6,25.3,0.0,13.0,9.0,56.0,21.0,10.9,24.5,0.0,0.0
142191,5.4,26.9,0.0,9.0,9.0,53.0,24.0,12.5,26.1,0.0,0.0
142192,7.8,27.0,0.0,13.0,7.0,51.0,24.0,15.1,26.0,0.0,0.0

In [ ]:
y

0         0
1         0
2         0
3         0
4         0
         ..
142188    0
142189    0
142190    0
142191    0
142192    0
Name: RainTomorrow, Length: 142193, dtype: int64

IMPLEMENT TRAIN TEST SPLIT

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size=0.80)

In [ ]:
len(X_train)

113754

In [ ]:
len(X_test)

28439

SCALE THE INDEPENDENT VARIABLES

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
X_train

array([[ 0.80452585,  1.40743487, -0.27442476, ...,  1.28740081,
        -0.54358256, -0.27799979],
       [ 0.0536929 , -0.29722912, -0.27442476, ..., -0.30186134,
        -0.54358256, -0.27799979],
       [-0.93177535, -1.35383903, -0.10992899, ..., -1.51203344,
         1.86557687, -0.27799979],
       ...,
       [-0.79099417,  0.73120452, -0.27442476, ...,  0.80624805,
        -0.54358256,  0.0995967 ],
       [ 0.2883282 ,  1.52013992, -0.27442476, ...,  1.33114197,
        -0.54358256, -0.27799979],
       [ 0.02240819,  0.50579441, -0.27442476, ...,  0.35425606,
        -0.54358256, -0.27799979]])

In [ ]:
X_test

array([[ 0.49167879, -0.1563478 , -0.27442476, ..., -0.09773593,
        -0.54358256, -0.27799979],
       [-0.38429299, -0.1140834 , -0.27442476, ..., -0.1268967 ,
        -0.54358256, -0.27799979],
       [ 0.30397055,  0.1958555 , -0.27442476, ...,  0.12096987,
        -0.54358256, -0.27799979],
       ...,
       [-0.99434477,  0.16767924, -0.27442476, ...,  0.36883645,
        -0.54358256, -0.27799979],
       [ 1.93077528,  1.3792586 , -0.13342839, ...,  1.4040439 ,
         1.86557687,  0.05239714],
       [ 1.16429998,  0.11132671, -0.27442476, ...,  0.17929142,
        -0.54358256, -0.18360066]])

CREATE THE MODEL

In [ ]:
import keras as tf

model = tf.models.Sequential()

model.add(tf.layers.Dense(8,input_dim=11,activation='tanh'))    ## input layer of 11 and one first hidden layer of 8 using tanh function
model.add(tf.layers.Dense(16,activation='tanh'))                ## second hidden layer of 16 using tanh function
model.add(tf.layers.Dense(1,activation='sigmoid'))              ## output layer of 1 for binary classifier using sigmoid function

model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy']) # stochastic gradient binary crossentropy learning curve for Output layer of 1

In [ ]:
model.fit(X_train,y_train,epochs=100)

Epoch 1/100
3555/3555 [==============================] - 5s 1ms/step - loss: 0.0783 - accuracy: 0.9705
Epoch 2/100
3555/3555 [==============================] - 5s 1ms/step - loss: 0.0078 - accuracy: 0.9985
Epoch 3/100
3555/3555 [==============================] - 5s 1ms/step - loss: 0.0042 - accuracy: 0.9990
Epoch 4/100
3555/3555 [==============================] - 5s 1ms/step - loss: 0.0032 - accuracy: 0.9992
Epoch 5/100
3555/3555 [==============================] - 5s 1ms/step - loss: 0.0018 - accuracy: 0.9995
Epoch 6/100
3555/3555 [==============================] - 5s 1ms/step - loss: 0.0018 - accuracy: 0.9996
Epoch 7/100
3555/3555 [==============================] - 5s 1ms/step - loss: 0.0018 - accuracy: 0.9995
Epoch 8/100
3555/3555 [==============================] - 5s 1ms/step - loss: 0.0015 - accuracy: 0.9995
Epoch 9/100
3555/3555 [==============================] - 5s 1ms/step - loss: 0.0014 - accuracy: 0.9995
Epoch 10/100
3555/3555 [==============================] - 5s 1ms/step - loss: 0.0021 - accuracy: 0.9994
Epoch 11/100
3555/3555 [==============================] - 5s 1ms/step - loss: 0.0018 - accuracy: 0.9994
Epoch 12/100
3555/3555 [==============================] - 5s 1ms/step - loss: 8.5826e-04 - accuracy: 0.9998
Epoch 13/100
3555/3555 [==============================] - 5s 1ms/step - loss: 0.0012 - accuracy: 0.9998
Epoch 14/100
3555/3555 [==============================] - 5s 1ms/step - loss: 0.0020 - accuracy: 0.9995
Epoch 15/100
3555/3555 [==============================] - 5s 1ms/step - loss: 0.0014 - accuracy: 0.9996
Epoch 16/100
3555/3555 [==============================] - 5s 1ms/step - loss: 7.8689e-04 - accuracy: 0.9998
Epoch 17/100
3555/3555 [==============================] - 5s 1ms/step - loss: 0.0014 - accuracy: 0.9997
Epoch 18/100
3555/3555 [==============================] - 5s 1ms/step - loss: 9.7627e-04 - accuracy: 0.9998
Epoch 19/100
3555/3555 [==============================] - 5s 1ms/step - loss: 0.0012 - accuracy: 0.9997
Epoch 20/100
3555/3555 [==============================] - 5s 1ms/step - loss: 9.9961e-04 - accuracy: 0.9998
Epoch 21/100
3555/3555 [==============================] - 5s 1ms/step - loss: 0.0011 - accuracy: 0.9997
Epoch 22/100
3555/3555 [==============================] - 5s 1ms/step - loss: 8.0179e-04 - accuracy: 0.9998
Epoch 23/100
3555/3555 [==============================] - 5s 1ms/step - loss: 0.0011 - accuracy: 0.9997
Epoch 24/100
3555/3555 [==============================] - 5s 1ms/step - loss: 0.0015 - accuracy: 0.9997
Epoch 25/100
3555/3555 [==============================] - 5s 1ms/step - loss: 6.4072e-04 - accuracy: 0.9998
Epoch 26/100
3555/3555 [==============================] - 5s 1ms/step - loss: 0.0012 - accuracy: 0.9997
Epoch 27/100
3555/3555 [==============================] - 5s 1ms/step - loss: 7.2188e-04 - accuracy: 0.9998
Epoch 28/100
3555/3555 [==============================] - 5s 1ms/step - loss: 0.0012 - accuracy: 0.9997
Epoch 29/100
3555/3555 [==============================] - 5s 1ms/step - loss: 4.2887e-04 - accuracy: 0.9998
Epoch 30/100
3555/3555 [==============================] - 5s 1ms/step - loss: 0.0013 - accuracy: 0.9997
Epoch 31/100
3555/3555 [==============================] - 5s 1ms/step - loss: 6.8803e-04 - accuracy: 0.9999
Epoch 32/100
3555/3555 [==============================] - 5s 1ms/step - loss: 8.9144e-04 - accuracy: 0.9998
Epoch 33/100
3555/3555 [==============================] - 5s 1ms/step - loss: 0.0013 - accuracy: 0.9997
Epoch 34/100
3555/3555 [==============================] - 5s 1ms/step - loss: 0.0015 - accuracy: 0.9997
Epoch 35/100
3555/3555 [==============================] - 5s 1ms/step - loss: 7.5698e-04 - accuracy: 0.9998
Epoch 36/100
3555/3555 [==============================] - 5s 1ms/step - loss: 7.5467e-04 - accuracy: 0.9998
Epoch 37/100
3555/3555 [==============================] - 5s 1ms/step - loss: 7.4625e-04 - accuracy: 0.9998
Epoch 38/100
3555/3555 [==============================] - 5s 1ms/step - loss: 9.7631e-04 - accuracy: 0.9998
Epoch 39/100
3555/3555 [==============================] - 5s 1ms/step - loss: 6.3024e-04 - accuracy: 0.9998
Epoch 40/100
3555/3555 [==============================] - 5s 1ms/step - loss: 9.2318e-04 - accuracy: 0.9998
Epoch 41/100
3555/3555 [==============================] - 5s 1ms/step - loss: 6.6034e-04 - accuracy: 0.9997
Epoch 42/100
3555/3555 [==============================] - 5s 1ms/step - loss: 8.0308e-04 - accuracy: 0.9998
Epoch 43/100
3555/3555 [==============================] - 5s 1ms/step - loss: 9.0507e-04 - accuracy: 0.9998
Epoch 44/100
3555/3555 [==============================] - 5s 1ms/step - loss: 6.6750e-04 - accuracy: 0.9998
Epoch 45/100
3555/3555 [==============================] - 5s 1ms/step - loss: 7.4292e-04 - accuracy: 0.9998
Epoch 46/100
3555/3555 [==============================] - 5s 1ms/step - loss: 6.7087e-04 - accuracy: 0.9999
Epoch 47/100
3555/3555 [==============================] - 5s 1ms/step - loss: 9.8329e-04 - accuracy: 0.9998
Epoch 48/100
3555/3555 [==============================] - 5s 1ms/step - loss: 8.9803e-04 - accuracy: 0.9997
Epoch 49/100
3555/3555 [==============================] - 5s 1ms/step - loss: 6.3469e-04 - accuracy: 0.9997
Epoch 50/100
3555/3555 [==============================] - 5s 1ms/step - loss: 0.0012 - accuracy: 0.9997
Epoch 51/100
3555/3555 [==============================] - 5s 1ms/step - loss: 4.1786e-04 - accuracy: 0.9998
Epoch 52/100
3555/3555 [==============================] - 5s 1ms/step - loss: 4.2481e-04 - accuracy: 0.9999
Epoch 53/100
3555/3555 [==============================] - 5s 1ms/step - loss: 8.0502e-04 - accuracy: 0.9998
Epoch 54/100
3555/3555 [==============================] - 5s 1ms/step - loss: 0.0011 - accuracy: 0.9997
Epoch 55/100
3555/3555 [==============================] - 5s 1ms/step - loss: 3.0511e-04 - accuracy: 0.9999
Epoch 56/100
3555/3555 [==============================] - 5s 1ms/step - loss: 6.7125e-04 - accuracy: 0.9998
Epoch 57/100
3555/3555 [==============================] - 5s 1ms/step - loss: 7.1698e-04 - accuracy: 0.9997
Epoch 58/100
3555/3555 [==============================] - 5s 1ms/step - loss: 7.9229e-04 - accuracy: 0.9998
Epoch 59/100
3555/3555 [==============================] - 5s 1ms/step - loss: 2.1952e-04 - accuracy: 0.9999
Epoch 60/100
3555/3555 [==============================] - 5s 1ms/step - loss: 0.0010 - accuracy: 0.9998
Epoch 61/100
3555/3555 [==============================] - 5s 1ms/step - loss: 8.1746e-04 - accuracy: 0.9998
Epoch 62/100
3555/3555 [==============================] - 5s 1ms/step - loss: 6.3271e-04 - accuracy: 0.9999
Epoch 63/100
3555/3555 [==============================] - 5s 1ms/step - loss: 4.4712e-04 - accuracy: 0.9999
Epoch 64/100
3555/3555 [==============================] - 5s 1ms/step - loss: 4.4035e-04 - accuracy: 0.9999
Epoch 65/100
3555/3555 [==============================] - 5s 1ms/step - loss: 7.3764e-04 - accuracy: 0.9998
Epoch 66/100
3555/3555 [==============================] - 5s 1ms/step - loss: 9.8606e-04 - accuracy: 0.9998
Epoch 67/100
3555/3555 [==============================] - 5s 1ms/step - loss: 2.1756e-04 - accuracy: 0.9999
Epoch 68/100
3555/3555 [==============================] - 5s 1ms/step - loss: 6.5335e-04 - accuracy: 0.9999
Epoch 69/100
3555/3555 [==============================] - 5s 1ms/step - loss: 7.3198e-04 - accuracy: 0.9998
Epoch 70/100
3555/3555 [==============================] - 5s 1ms/step - loss: 3.9704e-04 - accuracy: 0.9999
Epoch 71/100
3555/3555 [==============================] - 5s 1ms/step - loss: 0.0012 - accuracy: 0.9998
Epoch 72/100
3555/3555 [==============================] - 5s 1ms/step - loss: 4.4562e-04 - accuracy: 0.9999
Epoch 73/100
3555/3555 [==============================] - 5s 1ms/step - loss: 6.3851e-04 - accuracy: 0.9998
Epoch 74/100
3555/3555 [==============================] - 5s 1ms/step - loss: 4.2302e-04 - accuracy: 0.9999
Epoch 75/100
3555/3555 [==============================] - 5s 1ms/step - loss: 8.2946e-04 - accuracy: 0.9997
Epoch 76/100
3555/3555 [==============================] - 5s 1ms/step - loss: 5.4503e-04 - accuracy: 0.9998
Epoch 77/100
3555/3555 [==============================] - 5s 1ms/step - loss: 5.0971e-04 - accuracy: 0.9999
Epoch 78/100
3555/3555 [==============================] - 5s 1ms/step - loss: 8.3314e-04 - accuracy: 0.9998
Epoch 79/100
3555/3555 [==============================] - 5s 1ms/step - loss: 7.0250e-04 - accuracy: 0.9999
Epoch 80/100
3555/3555 [==============================] - 5s 1ms/step - loss: 3.0688e-04 - accuracy: 0.9999
Epoch 81/100
3555/3555 [==============================] - 5s 1ms/step - loss: 5.6601e-04 - accuracy: 0.9998
Epoch 82/100
3555/3555 [==============================] - 5s 1ms/step - loss: 7.6449e-04 - accuracy: 0.9997
Epoch 83/100
3555/3555 [==============================] - 5s 1ms/step - loss: 3.6973e-04 - accuracy: 0.9999
Epoch 84/100
3555/3555 [==============================] - 5s 1ms/step - loss: 6.7889e-04 - accuracy: 0.9999
Epoch 85/100
3555/3555 [==============================] - 5s 1ms/step - loss: 2.4515e-04 - accuracy: 0.9999
Epoch 86/100
3555/3555 [==============================] - 5s 1ms/step - loss: 5.5835e-04 - accuracy: 0.9998
Epoch 87/100
3555/3555 [==============================] - 5s 1ms/step - loss: 0.0011 - accuracy: 0.9998
Epoch 88/100
3555/3555 [==============================] - 5s 1ms/step - loss: 4.2734e-04 - accuracy: 0.9999
Epoch 89/100
3555/3555 [==============================] - 5s 1ms/step - loss: 5.9546e-04 - accuracy: 0.9998
Epoch 90/100
3555/3555 [==============================] - 5s 1ms/step - loss: 3.6348e-04 - accuracy: 0.9999
Epoch 91/100
3555/3555 [==============================] - 5s 1ms/step - loss: 5.4135e-04 - accuracy: 0.9999
Epoch 92/100
3555/3555 [==============================] - 5s 1ms/step - loss: 5.5954e-04 - accuracy: 0.9998
Epoch 93/100
3555/3555 [==============================] - 5s 1ms/step - loss: 6.5970e-04 - accuracy: 0.9998
Epoch 94/100
3555/3555 [==============================] - 5s 1ms/step - loss: 6.1957e-04 - accuracy: 0.9998
Epoch 95/100
3555/3555 [==============================] - 5s 1ms/step - loss: 2.8277e-04 - accuracy: 0.9999
Epoch 96/100
3555/3555 [==============================] - 5s 1ms/step - loss: 5.6722e-04 - accuracy: 0.9998
Epoch 97/100
3555/3555 [==============================] - 5s 1ms/step - loss: 3.5675e-04 - accuracy: 0.9999
Epoch 98/100
3555/3555 [==============================] - 5s 1ms/step - loss: 8.1029e-04 - accuracy: 0.9998
Epoch 99/100
3555/3555 [==============================] - 5s 1ms/step - loss: 3.2369e-04 - accuracy: 0.9999
Epoch 100/100
3555/3555 [==============================] - 5s 1ms/step - loss: 7.6179e-04 - accuracy: 0.9998

Evaluate Model

In [ ]:
model.evaluate(X_test,y_test)

889/889 [==============================] - 1s 1ms/step - loss: 7.7555e-05 - accuracy: 1.0000

[7.755494152661413e-05, 0.9999648332595825]

In [ ]:
ypred = model.predict(X_test)

ypred

array([[2.9870278e-14],
       [3.2407372e-14],
       [3.2089555e-14],
       ...,
       [3.3356405e-14],
       [1.0000000e+00],
       [1.8253392e-09]], dtype=float32)

Create ypred values for Confusion Matrix

In [ ]:
ypred = (ypred > 0.5) # 50% threshold for Confusion Matrix
ypred                 # shows ypred in correct data type for confusion matrix

array([[False],
       [False],
       [False],
       ...,
       [False],
       [ True],
       [False]])

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,ypred)
cm

array([[22096,     0],
       [    1,  6342]])

In [ ]:
from sklearn.metrics import accuracy_score
a = accuracy_score(y_test,ypred)
a

1.0

Predicting a single Value- Row 100 from the dataset

In [ ]:
import numpy as np
#inputs = [15.5, 32, 0, 2, 4, 51, 25, 20.1, 30.8, 0, 1.2 ]
new_prediction = model.predict(sc.transform(np.array([[15.5, 32, 0, 2, 4, 51, 25, 20.1, 30.8, 0, 1.2]])))
new_prediction = (new_prediction > 0.5)
print(new_prediction)

[[ True]]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

Don't think this is worth saving, but just in case...

In [ ]:
model.save("RainPredictor.h5")